<div class="row">
  <div class="col">
    <form [formGroup]="commentForm">
      <div class="form-group">
        <input type="text" class="form-control" formControlName="name" placeholder="Your name">
      </div>
      <div class="form-group">
        <textarea class="form-control" rows="3" formControlName="text" placeholder="Your comment"></textarea>
      </div>
      <button *ngIf="!isUpdate" [disabled]="commentForm.invalid" (click)="onSubmit()"
              type="submit"
              class="float-right btn btn-primary">Add</button>
      <button *ngIf="isUpdate" [disabled]="commentForm.invalid" (click)="onSave()"
              type="submit"
              class="float-right btn btn-primary">Save</button>
    </form>
  </div>
</div>

