<div class="row">
  <div class="col">
    <div class="card-list" *ngIf="allComments.length > 0">
      <app-comment *ngFor="let comment of allComments" [comment]="comment"></app-comment>
    </div>
  </div>
</div>



