<div class="container-fluid text-center">
  <div class="row">
    <div class="col">
    <h3>User reviews</h3>
    <app-form></app-form>
    <app-comments-list></app-comments-list>
    </div>
  </div>
</div>
