<div class="card">
  <div class="card-body text-left">
    <img src="{{comment.image}}" class="rounded float-left">
    <h5 class="card-title">{{comment.name}}</h5>
    <p class="card-text">{{comment.comment}}</p>
    <div class="buttons">
      <button (click)="editComment(comment)" type="button" class="btn btn-outline-primary">Edit</button>
      <button (click)="removeComment(comment.id)" type="button" class="btn btn-outline-danger">Remove</button>
    </div>
  </div>
</div>
